{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ user.message }}!</h1>
    <div> Below are few functions that allows you to play with the Sleep Walk Students</div>

    {#    section 1#}
    <p style="font-size:150%"> Enter Start, Low, High Positions </p>
    <form  method="post">
        Input Start:
        <input type=text  name=start ><br><br>
        Input Low:
        <input type=text  name=low ><br><br>
        Input High:
        <input type=text    name=high ><br><br>
        <input type=submit  value=Submit><br>
    </form>

{% endblock %}